body {
  margin: 0;
  background-color: #03b338;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #46d246;
}

#logo {
  height: 120px;
  border-radius: 100px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 2rem;
}

#chuteira {
  width: 99.2vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}
h1 {
  text-align: center;
  font-size: 4rem;
}

#amarelo {
  background-color: #f0e02f;
  height: 233px;
  margin: 0;
}
#ronaldinho {
  display: flex;
  margin: 10px;
  height: 231px;
}

#messi {
  display: flex;
  margin: 10px;
  height: 231px;
}

#cr7 {
  display: flex;
  margin: 10px;
  height: 231px;
}

#lendas {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin: 20px 0;
}

#lendas img {
  height: 231px;
  margin: 50px;
}

#azul {
  background-color: #1755da;
  margin: 0;
}

.titulo {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin: 20px 0;
}

#lendas {
  display: flex;
  gap: 40px;
  margin: 0;
}

.lenda {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  text-align: center;
}

.lenda img {
  height: 231px;
  margin-bottom: 10px;
}

.titulo {
  font-size: 2rem;
  margin: 10px 0;
}

.informacoes {
  font-size: 1rem;
  color: #ffff;
  text-align: justify;
}

#bruxo {
  color: #f6ff00;
}

#talento {
  color: #00e5ff;
}

#foco {
  color: #FF0000;
  margin-top: 20px;
}
